<!-- authentication/login.html -->
{% extends "authentication/base_auth.html" %}
{% load static %}
{% block content %}
<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Log In to Sentinel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="idField" name="dnarId" value="{{ form.dnarId.value }}" placeholder="200120000">
                        <label for="floatingInput">Dnar ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="floatingPassword" name="password" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">Log In</button>
                    <small class="text-muted">Don't share your password</small>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
