{% extends "base.html" %}

{% block content %}

<div class= "container mt-4">
    <div class="row"> 
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
            
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'asset_list' %}">Assets</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Assets</li>
            </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add_assets' %}" >Add Assets</a>
        </div>
    </div>
</div>

{% include "partials/_messages.html" %}

{% endblock content %}

